option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
    SERVER_PORT: 5000
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /api: /
  aws:elasticbeanstalk:container:tomcat:jvmoptions:
    Xmx: 512m
    JVM Options: '-Dspring.profiles.active=prod'
